#side-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Changed to viewport height */
    width: 60px; /* Width when collapsed */
    background-color: #002452;
    list-style: #cad2de;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s; /* Smooth transition effect */
    z-index: 1; /* Ensure it's on top of other content */
}

#side-nav-bar.expanded {
    width: 200px; /* Width when expanded */
}

#nav-button {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #002452;
    border: none;
    cursor: pointer;
}

.nav-icon {
    font-size: 24px;
}

#nav-links {
    display: none; /* Hidden when collapsed */
    flex-direction: column;
    width: 100%;
    padding-top: 60px; /* Space for the nav button */
}

#side-nav-bar.expanded #nav-links {
    display: flex; /* Visible when expanded */
}


#nav-links a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #cad2de;
    display: block;
    transition: 0.3s;
}

#nav-links a:hover {
    color: #ffffff;
}

/* Style for page content to avoid overlap */
#page-content {
    margin-left: 60px; /* Initial margin to account for collapsed navbar */
    padding: 20px;
    transition: margin-left 0.5s;
    display: flex; /* Make page content a flex container */
    flex-direction: column; /* Stack content vertically */
    min-height: 100vh; /* Ensure full viewport height */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

#page-content.expanded {
    margin-left: 200px; /* Adjusted margin when navbar is expanded */
}

#item-input {
    width: 600px;
    height: 30px;

    border: 1.5px solid #002452;
    border-radius: 5px;
    padding: 5px;
}

#home-page-textbox {
    width: 600px;
    height: 30px;

    border: 1.5px solid #002452;
    border-radius: 5px;
    padding: 5px;
}

.home-messages {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-message {
    font-size: 1.8em;
    color: #002453;
    margin-bottom: 10px;
}

.ask-ai-message {
    font-size: 1.1em;
    color: #5f6670;
}

body, * {
    font-family: "Verdana", sans-serif;
}

#grocery-list-container h2 {
    color: #002453;
}

#grocery-item-list {
    list-style: none;
    padding-left: 0;
}

.grocery-item {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align checkbox and label */
    margin-bottom: 5px; /* Space between items */
}

.grocery-item > input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and text */
}
